// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$my-green: #62D2A2;
$my-dark-green: #126F4D;
$my-gray: #F6F6F6;
$my-green-transparent: rgba(98, 210, 162, 0.5)
