<div class="banner-researches-new w-100" style="background-image: url(https://i.pinimg.com/originals/ab/9b/0c/ab9b0c19cb3cccf64109877c88d2c26e.jpg)"></div>
<div class="researches-new px-4">
  <div class="New research-now-pic">
    <div class="card-researches">
      <%= simple_form_for @research do |f| %>
        <div class="form--header-container mt-4">
          <h2 class="form--header-title">What do you want to recycle ?</h2>
        </div>
        <%= f.input :query, collection: Solution.pluck(:object_name).sort, label: "Search", as: :select %>
        <%= f.association :category, selected: Category.first %>
        <%= f.button :submit, remote: true, class: "form__btn w-100"%>
        <% end %>
    </div>
  </div>
</div>
