
  <div class="container">
    <%= simple_form_for @research do |f| %>
      <div class="form--header-container">
        <h1 class="form--header-title">What do you want to recycle ?</h1>
        <p class="form--header-text">Find the right location</p>
      </div>
      <%= f.input :query %>
      <%= f.association :category %>
      <%= f.button :submit, class: "form__btn"%>
    <% end %>
  </div>
