
  <main>
    <div class="stepper mt-5">
      <!-- <div class="step--1 step-active">Step 1</div>
      <div class="step--2">Results</div> -->
      <!-- <div class="step--3">Results</div> -->
    </div>

    <form class="form form-active">
      <div class="form--header-container">
        <h1 class="form--header-title">
          What do you want to recycle ?
        </h1>
          <p class="form--header-text">
          Find the right location
        </p>
      </div>
      <input type="text" placeholder="Type the product name" />
      <input type="text" placeholder="Type the product category" />
      <input type="text" placeholder="Your location" />
      <button class="form__btn" id="btn-1">Search</button>
    </form>

    <form class="form">
      <div class="form--header-container">
        <h1 class="form--header-title">
          What do you want to recycle ?
        </h1>
          <p class="form--header-text">
          Enter your research
        </p>
      </div>
  
      <input type="text" placeholder="Type the product name" />
      <input type="text" placeholder="Type the product category" />
      <input type="text" placeholder="Your location" />
      <button class="form__btn" id="btn-2-prev">Previous</button>
      <button class="form__btn" id="btn-2-next">Next</button>
    </form>
  </main>
 
  <script>
    const formBtn1 = document.querySelector("#btn-1")
    const formBtnPrev2 = document.querySelector("#btn-2-prev")
    const formBtnNext2 = document.querySelector("#btn-2-next")
  
    formBtn1.addEventListener("click", function(e) {
      gotoNextForm(formBtn1, formBtnNext2, 1, 2)
      e.preventDefault()
    })
    
    // Next button listener of form 2
    formBtnNext2.addEventListener("click", function(e) {
      gotoNextForm(formBtnNext2, formBtn3, 2, 3)
      e.preventDefault()
    })
    
    // Previous button listener of form 2
    formBtnPrev2.addEventListener("click", function(e) {
      gotoNextForm(formBtnNext2, formBtn1, 2, 1)
      e.preventDefault()
    })

    const gotoNextForm = (prev, next, stepPrev, stepNext) => {
      // Get form through the button
      const prevForm = prev.parentElement
      const nextForm = next.parentElement
      const nextStep = document.querySelector(`.step--${stepNext}`)
      const prevStep = document.querySelector(`.step--${stepPrev}`)
      // Add active/inactive classes to both previous and next form
      nextForm.classList.add("form-active")
      nextForm.classList.add("form-active-animate")
      prevForm.classList.add("form-inactive")
      // Change the active step element
      prevStep.classList.remove("step-active")
      nextStep.classList.add("step-active")
      // Remove active/inactive classes to both previous an next form
      setTimeout(() => {
        prevForm.classList.remove("form-active")
        prevForm.classList.remove("form-inactive")
        nextForm.classList.remove("form-active-animate")
      }, 1000)
    }
  </script>
  