<div class="banner" style="background-image: url(https://image.freepik.com/vecteurs-libre/personnes-recyclant-differents-produits_23-2148513118.jpg)">


<div class = "researches-show">
  <div class = "Solutions-show-pic mb-3">
   <h1 class="mt-4">Solutions</h1>
    <p>Voici la solution la plus optimale pour trier efficiement vos ordures</p>
    </div>
  </div>
</div>

<!-- recycle card -->
<div class="container">
  <div class="recycle-solution-card">
    <h1>Je suis une solution</h1>
  </div>
</div>
