<div class="card-banner" style="background-image: url(https://image.freepik.com/vecteurs-libre/personnes-recyclant-differents-produits_23-2148513118.jpg)">
</div>

<div class = "researches-show">
  <h1 class="mt-4">Solutions</h1>
  <div class = "Solutions-show-pic mb-3">

  </div>
    <p>Voici la solution la plus optimale pour trier efficiement vos ordures</p>
</div>
