<div class="banner" style="background-image: url(https://image.freepik.com/vecteurs-libre/personnes-recyclant-differents-produits_23-2148513118.jpg)"></div>

  <div class= container>
    <div class = "researches-show">
      <div class = "Solutions-show-pic mb-3">
        <h2 class="mt-3">Solutions</h2>
          <p>Voici la solution la plus optimale pour trier efficacement vos ordures</p>
      </div>
    </div>
  

    <!-- recycle card -->
    <!-- <div class="container">
      <div class="recycle-solution-card">
        <h3>Je suis une solution</h3>
      </div>
    </div> -->

    <div class="card-solution m-4">
      <img src="https://www.easyrecyclage.com/wp-content/uploads/2019/04/Easyrecyclage_Bureau_Fun_2.jpg?x70212" />
      <div class="card-solution-description">
        <h2>Solution</h2>
        <p>Here the right solution<strong>on your query</strong> !!!</p>
      </div>
    </div>
  </div>


