
.banner {
background-image: linear-gradient(rgba(98, 210, 162, 0.3),rgba(18, 111, 77, 0.7)),url(poubelle.jpeg);
background-size: cover;
background-position: center;
text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
color: white;
height: 600px;
  img {
    width: 100px;
  }
}

h1{
  font-weight: bold;
}

.btn-success {
  border-radius: 6px;
}

