<div class="games-container">
  <div class="score-container">
    <h2>Score :</h2>
    <h2 id="score">0</h2>
  </div>
  <% if params["game_id"] == "1" %>
    <%= render 'partial_games/tetris' %>
  <% else %>
    <div class="round-content mt-5">
      <br>
      <h3>GAME IN CONSTRUCTION, <br> COME BACK IN A WEEK 🤓</h3>
      <br>
      <img alt="game in construction" src="https://cdn.dribbble.com/users/527451/screenshots/3115734/safetynow_frame1-drib.gif" width= "350">
    </div>
  <% end %>
</div>

