<div class="profile">
  <div class="profile-hello">
    <h2 id="hello">
      <strong>Hello <%= @user.first_name %> !</strong>
    </h2>
    <div class="rounds">
      <h4>Your rounds: <strong><%= @rounds.length %></strong></h4>
      <h4>With <strong><%= @points %></strong> points !</h4>
    </div>
    <h4 class="researches">Your researches: <strong><%= @researches %></strong></h4>
  </div>
</div>