<table class="tetris-grid" data-items= "<%= ['aspargus.png', 'book.png', 'beans.png', 'box.png', 'cheese.png', 'chicken.png', 'fish.png', 'glass-bottle-1.png', 'glass-bottle-2.png', 'glass-bottle-3.png', 'glass-bottle-4.png', 'meat.png', 'news-paper.png', 'orange.png', 'plastic-bottle-1.png', 'plastic-bottle-2.png', 'spinach.png'] %>">
  <tr>
    <td class="left-part"></td>
    <td class="left-part"></td>
    <td class="left-part"></td>
    <td class="left-part"></td>
    <td class="left-part"></td>
    <td id="start" class="active"></td>
    <td class="right-part"></td>
    <td class="right-part"></td>
    <td class="right-part"></td>
    <td class="right-part"></td>
    <td class="right-part"></td>
    <td class="right-part"></td>
  </tr>
  <tr>
    <td class="left-part"></td>
    <td class="left-part"></td>
    <td class="left-part"></td>
    <td class="left-part"></td>
    <td class="left-part"></td>
    <td class="left-part"></td>
    <td class="right-part"></td>
    <td class="right-part"></td>
    <td class="right-part"></td>
    <td class="right-part"></td>
    <td class="right-part"></td>
    <td class="right-part"></td>
  </tr>
  <tr>
    <td class="left-part"></td>
    <td class="left-part"></td>
    <td class="left-part"></td>
    <td class="left-part"></td>
    <td class="left-part"></td>
    <td class="left-part"></td>
    <td class="right-part"></td>
    <td class="right-part"></td>
    <td class="right-part"></td>
    <td class="right-part"></td>
    <td class="right-part"></td>
    <td class="right-part"></td>
  </tr>
  <tr>
    <td class="left-part"></td>
    <td class="left-part"></td>
    <td class="left-part"></td>
    <td class="left-part"></td>
    <td class="left-part"></td>
    <td class="left-part"></td>
    <td class="right-part"></td>
    <td class="right-part"></td>
    <td class="right-part"></td>
    <td class="right-part"></td>
    <td class="right-part"></td>
    <td class="right-part"></td>
  </tr>
  <tr>
    <td class="left-part"></td>
    <td class="left-part"></td>
    <td class="left-part"></td>
    <td class="left-part"></td>
    <td class="left-part"></td>
    <td class="left-part"></td>
    <td class="right-part"></td>
    <td class="right-part"></td>
    <td class="right-part"></td>
    <td class="right-part"></td>
    <td class="right-part"></td>
    <td class="right-part"></td>
  </tr>
  <tr>
   <td class="left-part"></td>
    <td class="left-part"></td>
    <td class="left-part"></td>
    <td class="left-part"></td>
    <td class="left-part"></td>
    <td class="left-part"></td>
    <td class="right-part"></td>
    <td class="right-part"></td>
    <td class="right-part"></td>
    <td class="right-part"></td>
    <td class="right-part"></td>
    <td class="right-part"></td>
  </tr>
  <tr>
    <td class="left-part"></td>
    <td class="left-part"></td>
    <td class="left-part"></td>
    <td class="left-part"></td>
    <td class="left-part"></td>
    <td class="left-part"></td>
    <td class="right-part"></td>
    <td class="right-part"></td>
    <td class="right-part"></td>
    <td class="right-part"></td>
    <td class="right-part"></td>
    <td class="right-part"></td>
  </tr>
  <tr>
    <td class="left-part"></td>
    <td class="left-part"></td>
    <td class="left-part"></td>
    <td class="left-part"></td>
    <td class="left-part"></td>
    <td class="left-part"></td>
    <td class="right-part"></td>
    <td class="right-part"></td>
    <td class="right-part"></td>
    <td class="right-part"></td>
    <td class="right-part"></td>
    <td class="right-part"></td>
  </tr>
  <tr>
    <td class="left-part"></td>
    <td class="left-part"></td>
    <td class="left-part"></td>
    <td class="left-part"></td>
    <td class="left-part"></td>
    <td class="left-part"></td>
    <td class="right-part"></td>
    <td class="right-part"></td>
    <td class="right-part"></td>
    <td class="right-part"></td>
    <td class="right-part"></td>
    <td class="right-part"></td>
  </tr>
  <tr id="last-tr">
    <td class="yellow-trash" colspan="4">&nbsp;</td>
    <td class="blue-trash" colspan="4">&nbsp;</td>
    <td class="green-trash" colspan="4">&nbsp;</td>
  </tr>
  <tr>
  </tr>
</table>

<%= simple_form_for [ @game, @round] do |f| %>
  <div class="d-none">
    <%= f.input :score %>
  </div>
  <%= f.submit %>
<% end %>


<!-- // inspecter et retrouver l'input
// rentrer input.value = le score que j'ai recupérer
 -->
