
<div class="banner">
  <h1>Welcome to R3</h1>
  <p>The best app to find how to recycle your stuff !</p>
  <%= link_to "Let's Recycle","#", class: "btn btn-success" %>
  <p>Let's play our games to get nice recycle habits !</p>
  <%= link_to "Go to Games","#", class: "btn btn-primary" %>
</div>



