<div class="banner">

  <h1>Welcome to</h1>
  <%= image_tag "logo_R3.png", alt: "logo R3" %>
  <br>



  <h6>The best app to find how to <br><strong>recycle your stuff </strong>!</h6>
  <%= link_to "Let's Recycle â™»ï¸","#", class: "btn btn-success" %>
  <br>
  <br>
  <h6><strong>Let's play </strong>our games to get nice <strong>recycle habits</strong> !</h6>
  <%= link_to "Go to Games ðŸ•¹",games_path, class: "btn btn-success"%>
</div>
