
<div class="banner" >

  <h1>Welcome to <%= image_tag "logo_R3.png", alt: "logo R3" %></h1>
  <br>
  <br>


  <p>The best app to find how to recycle your stuff !</p>
  <%= link_to "Let's Recycle","#", class: "btn btn-success" %>
  <br>
  <br>
  <p><strong>Let's play </strong>our games to get nice <strong>recycle habits</strong> !</p>
  <%= link_to "Go to Games","#", class: "btn btn-primary" %>
</div>



