<div class="banner">

  <h1>Bienvenue dans</h1>
  <%= image_tag "logo_R3.png", alt: "logo R3" %>
  <br>

  <h6>La meilleure application pour trouver comment <strong>recycler vos détritus</strong> !</h6>
  <div class="home-button">
    <%= link_to "Recycler ♻️",  new_research_path %>
  </div>

  <br>
  <br>

  <h6>Jouez et adoptez les <strong> bonnes habitudes de recyclage</strong> !</h6>
  <div class="home-button">
    <%= link_to "Jouer 🕹",games_path %>
  </div>
</div>
