
<h1>Welcome to the R3 Game</h1>
  <div class = "games-container">
    <div class="cards-games">
  <ul>
    <% @games.each do |game| %>
      <li><%= game.name %></li>
    <% end %>
  </ul>
   </div>
  </div>