<div class="games-container">
  <h1 id="games-index">R3 Games</h1>
  <% @games.each do |game| %>
    <div class="game-button">
      <%= link_to game.name, game_path(game) %>
    </div>
  <% end %>
</div>
