.tetris-grid {
/*   margin: auto; */
  background-color: white;
  border-top: solid 1px $my-dark-green;
  tr {
    border-left: solid 1px $my-dark-green;
    border-right: solid 1px $my-dark-green;
  }

  td {
    height: 50px;
    width: 50px;
  }
}

.score-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 52%;
  height: 40px;
  margin-top: 10px;
}

.active {
  background-image: url("https://res.cloudinary.com/dke9sx7vr/image/upload/v1622560267/box.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.green-trash {
  background-image: image-url('green-trash.png');
  background-repeat: no-repeat;
  background-position: bottom;
  border-right: hidden;
  background-color: #f5f6f7;;
  /* border-top: solid 2px $my-green; */
}

.yellow-trash {
  background-image: image-url('yellow-trash.png');
  height: 100px !important;
  background-repeat: no-repeat;
 /*  background-size: cover; */
  background-position: bottom;
  border-left: hidden;
  background-color: #f5f6f7;
}

.blue-trash {
  background-image: image-url('blue-trash.png');
  background-repeat: no-repeat;
 /*  background-size: cover; */
  background-position: bottom;
  background-color: #f5f6f7;
}
