.card-researches {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 !important;
}

.card-solution {
  overflow: hidden;
  height: 170px;
  margin: 105px 0;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.card-solution img {
  height: 60%;
  width: 100px;
  object-fit: cover;
  position: top;

}

.card-solution .card-solution-description {
  padding: 16px;

}


